@model DataSurvey.Models.SurveyViewModel
@{
    var options = ViewBag.Options as List<DataSurvey.Models.SurveyOptions>;
}

<h2>@Model.SelectedSurvey.SurveyName </h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}


<form asp-action="TakeSurvey" method="post">
    <input type="hidden" asp-for="SelectedSurvey.SurveyId" value="@Model.SelectedSurvey.SurveyId" />

    <label asp-for="SurveyOptions.OptionId">Select an option:</label>
    <select asp-for="SurveyOptions.OptionId" id="selectedOption" class="form-control">
        <option value="">-- Choose one --</option>
        @foreach (var opt in options)
        {
            <option value="@opt.OptionId">@opt.OptionName</option>
        }
    </select>

    <button type="submit" class="btn btn-success mt-3">Submit</button>
</form>
