@{
    ViewData["Title"] = "Student Make A Survey";
}

<div style="text-align:center; margin-bottom:40px;">
    <h1>@ViewData["Title"]</h1>
    <h2>Welcome, please select your teachers for this semester</h2>
    @Html.TextBox("Name", null, new { placeholder = "Student's name?", style = "text-align:center;" })
    @Html.TextBox("Name", null, new { placeholder = "Student's ID?", style = "text-align:center;" })
</div>

<div style="display: grid; grid-template-columns: repeat(4, auto); gap: 20px 40px; justify-content: center; margin: 30px auto; font-size:20px;">
    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor1", false)
        Instructor 1
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor2", false)
        Instructor 2
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor3", false)
        Instructor 3
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor4", false)
        Instructor 4
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor5", false)
        Instructor 5
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor6", false)
        Instructor 6
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor7", false)
        Instructor 7
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor8", false)
        Instructor 8
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor9", false)
        Instructor 9
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor10", false)
        Instructor 10
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor11", false)
        Instructor 11
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor12", false)
        Instructor 12
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor13", false)
        Instructor 13
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor14", false)
        Instructor 14
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor15", false)
        Instructor 15
    </label>

    <label style="white-space: nowrap;">
        @Html.CheckBox("Instructor16", false)
        Instructor 16
    </label>
</div>

<div style="text-align:center; margin-top:40px;">
    <button type="button" style="font-size:20px;">Submit</button>
</div>
